#main {
  position: relative;
  margin: 60px;
  background-color: #e0ebeb;
  font-family: "Times New Roman", Georgia;
}

#intro{
  background-color: #d6d6c2;
 // text-align: center;
  /* height: 700px; */
  //height:100vh;
}

#introText {
    text-align: justify;
}

#technologies{
  padding-top: 50px;
  /*height: 700px;*/
  height:100vh;
  color: #000;
  background-color: #d6d6c2;
  align: justify;
}

#projects{
 // padding-top: 50px;
 // color: #000;
  background-color: #d6d6c2;
}

#carousel-pic{
    width: 500px;
    height: 500px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    //width: 500px;
    //height: 500px;
    margin: auto;
    padding-bottom: 150px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    bottom: -150px;
}

#connect{
  padding-top: 50px;
  color: #000;
  background-color: #d6d6c2;
  text-align: right;
}

#profilePic {

}

#workThumb {
  height: 250px;
  width: 250px;
}

#buttons{
  position: relative;
  right: 0px;
  bottom: 0px;
}

footer {
    padding-top: 300px;
	position: absolute;
	bottom: 0px;
}
