#main {
    position: relative;
    padding-top: 60px;
    background-color: #e0ebeb;
    font-family: Raleway, "Georgia";
}

#intro{
    background-color: #d6d6c2;
    padding-top: 20px;
}

#introText {
    text-align: justify;
}

#technologies{
    padding-top: 60px;
    background-color: #d6d6c2;
    align: justify;
}

#projects{
    padding-top: 60px;
    background-color: #d6d6c2;
}

#carousel-pic{
    height: 500px;
    width: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    padding-bottom: 150px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    bottom: -150px;
}

.carousel-caption > p {
    color: black;
}

.carousel-indicators li {
  background-color: #668399 !important;
}
.carousel-indicators .active {
  background-color: #072101 !important;
}

#connect{
    padding-top: 100px;
    background-color: #d6d6c2;
    text-align: right;
}

#credit{
    position: absolute;
    bottom: -10px;
}
