body {
  position: relative;
  margin: 60px;
  background-color: #cfe6ff;
  font-family: Georgia, "Times New Roman";
}

#intro{
  background-color: #f7ffc7;
  text-align: center;
  /* height: 700px; */
  height:100vh;
}

#about{
  padding-top: 50px;
  /*height: 700px;*/
  height:100vh;
  color: #000;
  background-color: #f7ffc7;
}

#works{
  padding-top: 50px;
  color: #000;
  background-color: #f7ffc7;
}

#connect{
  padding-top: 50px;
  color: #000;
  background-color: #f7ffc7;
  text-align: right;
}

#profilePic {

}

#workThumb {
  height: 250px;
  width: 250px;
}

#buttons{
  position: relative;
  right: 0px;
  bottom: 0px;
}
