#pbody {
	margin-top:60px;
	font-family: Raleway, cursive;
	text-align: center;
//	background-color: #d6d6c2;
	background-image: url(http://adrienatallah.github.io/images/background/textureWhite.jpg);
}

#credit{
	font-size: small;
}

footer {
	position: fixed;
	bottom: 0px;

}
