#pbody {
	margin-top:60px;
	font-family: "Cormorant Garamond", cursive;
	font-weight: bolder;
	text-align: center;
	background-image: url(http://adrienatallah.github.io/projects/showLocalWeather/images/textureWhite.jpg);
}

#credit{
	font-size: small;
}

footer {
	position: fixed;
	bottom: 0px;
}

.icon {
	width: auto;
	height: 50px;
}
